
.notification{
    background-color: #f8d7da;
    display: none;
}

.notification p{
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.temperature-value p{
    color: white;
}

.temperature-value span{
    color: white;
    font-size: 0.5em;
}

.location p{
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    font-size: 0.8em;
    font-size:20px;
}


