
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 28px;
    font-weight: 900;
    color: black;
    padding: 15px;
}
.calendar-body {
    padding: 10px;
}

/* calendar top */
.month-picker {
    padding: 5px 10px;
}
.month-picker:hover {
    background-color: rgb(0, 86, 92);
    border-radius: 20px;
    cursor: pointer;
}
.year-picker {
    display: flex;
    align-items: center;
}
.year-change {
    display: grid;
    place-items: center;
    height: 40px;
    width: 40px;
    margin: 0 15px;
}
.year-change:hover {
    background-color: rgb(0, 86, 92);
    border-radius: 50%;
    cursor: pointer;
}

/* calendar inside */
.calendar-week-day {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 50px;
    font-weight: 600;
    font-size: 18px;
}
.calendar-week-day{
    display: grid;
    place-items: center;
    font-size: 20px;
}
.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.calendar-days div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 45px;
    height: 42px;
    font-size: 19px;
    color:rgb(1, 153, 140);
}
.calendar-days div.curr-date{
    background-color:rgb(141, 1, 1);
    color: rgb(204, 204, 204);
    border-radius: 50%;
    font-weight: bold;
}
.calendar-day-hover:hover{
    background-color: white;
    color:black;
    cursor: pointer;
    border-radius: 50%;
    font-weight: bold;
}

.month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 44, 35, 0.9);
    grid-template-columns: repeat(3, auto);
    display: grid;
    transform: scale(1);
    visibility: hidden;
    pointer-events: none;
}

.month-list.show {
    z-index:999;
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all 0.2s ease-in-out;
}

.month-list > div {
    display: grid;
    place-items: center;
}

.month-list > div > div {
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    color: red;
}

.month-list > div > div:hover {
    background-color: brown;
}